body{
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
    overflow-x: hidden;
}   

h1{
    margin: 50px auto 22px;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66BFBF;    
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

h5{
    font-family: 'Montserrat', sans-serif;
    margin: 20px auto ;
    color: #66BFBF;
    font-weight: normal;
}

a{
    text-decoration: none;
}

.btn-a ,.bottom-container a{
    color: #11999E;
    margin: 10px 20px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
.btn-a:hover, .bottom-container a:hover{
    color:#EAF6F6;
}


p{
    color: #40514E;
    line-height: 2;
}

hr{
    border-style: none;
    border-top-style: dotted;
    /* color: #EAF6F6; */
    width: 5%;
    border-width: 5px;
    margin: 100px auto;
    
}


/* Profile-section */

#profile{
    background-color: #E4F9F5;
}

.navbar-brand{
    font-size: 2.5rem;
}

.nav-item{
    padding: 0 18px;
}

.navbar-nav{
    margin-left: auto;
}

.nav-link{
    font-size: 1.2rem;
}

.top-container{
    padding: 100px;
}

.social-icons{
    margin: 60px auto;
}

.social-icons button{
    background-color: #E4F9F5;
    border: none;
}

.icon{
    width: 60px;
    height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 26px;
    color: #11cdd4;
    border-radius: 50%;
    outline: 2px solid #11cdd4;
    transition-property: outline-offset, outline-color, background-color;
    transition-duration: 0.25s;
}

.icon:hover{
    outline-offset: 4px;
}

i:hover{
    animation: shake 0.30s;
}

.linkedin:hover{
    background-color: #0077b5;
    outline-color: #0077b5;  
    color: #fff;
}

.github:hover{
    background-color: #2ea44f;
    outline-color: #2ea44f;
    color: #fff;
}

@keyframes shake {
    10%{transform: rotate(15deg);}
    20%{transform: rotate(-15deg);}
    30%{transform: rotate(15deg);}
    40%{transform: rotate(-15deg);}
}

.middle-container{
  margin: 100px auto;
}

/* About section */

.profile{
    text-align: center;
    padding: 100px
}

.data {
    margin: auto 35% 20px;
    text-align: left;
}

.intro{
    color:#40514E;
    padding: 0 100px 0 100px;
}

/* Skill section */

.skill-content{
    padding: 6.25rem;
    text-align: left;
    line-height: 2;
}

.languages{
    padding: 6.25rem;
    text-align: left;
}

.languages .bars{
    margin-bottom: 15px;
}

.languages .info{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    justify-content: space-between;
}

.languages  span{
    font-weight: 500;
    font-size: 18px;
}    

.languages .line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}

.languages .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: #66BFBF;
}

.languages .html::before{
    width: 90%;
}

.languages .css::before{
    width: 90%;
}

.languages .js::before{
    width: 80%;
}

.languages .c::before{
    width: 60%;
}

.languages .c-plus::before{
    width: 70%;
}

.languages .react::before{
    width: 50%;
}

.languages .node::before{
    width: 70%;
}

.languages .db::before{
    width: 70%;
}

/* Project section */

.project-row{
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height:2;
}

/* inages section */

.rajatimage{
    height: 200px;
      
}

.left-image{
    width: 35%;
    float: left;
    margin-right: 30px;
    border-radius: 6px;
}

.right-image{
    width: 25%;
    float: right;
    margin-left: 30px ;
    border-radius: 6px;
}

/* contact section */

.contact-info, .contact-me{
    text-align: left;
    padding:90px;
}

.contact-me input{
    margin-bottom: 15px;
    border: 1px solid lightgray;
    border-radius: 6px;
    padding: 10px;
}

.details .row{
    display: flex;
    height: 65px;
    align-items: center;
}

.details .row .info{
    margin-left: 30px;
}

.details .row i{
    font-size: 25px;
    color: #66BFBF;
}

.details .info .head{
    font-weight: 500;
}

.details .info .sub-title{
    color: #333;
}

/* Bottom section */

.bottom-container{
    background-color: #66BFBF;
    padding: 50px 0 20px;
}  

.copy-right{
    color: #EAF6F6;
    padding: 20px 0;
    font-size: 0.7rem;
  
}

/* button */

.btn-contact {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn-contact:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
